// Fonts

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 200;
  src: url("../fonts/Spoqa\ Han\ Sans\ Neo\ Thin.woff2") format("woff2"),
  url("../fonts/SpoqaHanSansNeo-Thin.woff") format("woff"),
  url("../fonts/SpoqaHanSansNeo-Thin.ttf") format("truetype");

}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 300;
  src: url("../fonts/Spoqa\ Han\ Sans\ Neo\ Light.woff2") format("woff2"),
  url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
  url("../fonts/SpoqaHanSansNeo-Light.ttf") format("truetype"); 
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: url("../fonts/Spoqa\ Han\ Sans\ Neo\ Regular.woff2") format("woff2"),
  url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
  url("../fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype")
}
// @font-face {
//   font-family: "Spoqa Han Sans";
//   font-weight: 500;
//   src: url("../fonts/Spoqa\ Han\ Sans\ Neo\ Bold.woff2") format("woff2"),
//   url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
//   url("../fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype")
// }

* {
  font-family: "Spoqa Han Sans";
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  overflow: auto;

  background: url(../img/landing3.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;





.App {

    position: relative;
    .scollToTop-btn {
      position: absolute;
      top: 99%;
      bottom: 10%;
      right: 1.8%;
      width: 30px;
      height: 30px;
      background: rgba(128, 128, 128, 0.507);
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.479);
      
      
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        width: 35px;
        height: 35px;
        background: whitesmoke;
        transform: translateX(6%);
      }
    }
  }
}

