.blog {
  width: 100%;
  height: 100%;
  padding: 100px 0;

  // text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  // background-color: rgba(255, 255, 255, 0.23);
  background: #EBEEEE;
  position: relative;
  
  
  
  // #item-list-container {
  //     // width: 100%;
  //     height: 100%;
  //     padding: 7%;  
    
  //     #item-list-inner {
  //       display: grid;
  //       grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  //       grid-gap: 70px;

  //       .post {
  //         a {
  //           text-decoration: none;
  //         }
  //         transition: all .3s ease;
  //         position: relative;
  //         top: 0;
  //         width: 100%;
  //         border: 1px solid #d9d9d97a;
  //         border-radius: 6px;
  //         overflow: hidden;
  //         .post-img {
  //           display: block;
  //           width: 100%;
  //           height: 260px;
            
  //           img {
  //             width: 100%;
  //             height: 100%;
  //             object-fit: cover;
  //           }
  //         }
          
  //         .post-info {
  //           background-color: whitesmoke;
  //           color: black;
  //           // width: 100%;
  //           height: 50px;
  //           padding: 30px;
  //           font-size: 17px;
            
  //           white-space: nowrap;
  //           overflow: hidden;
  //           text-overflow: ellipsis;
  //           p {
  //             color: gray;
  //             font-size: 14px;
  //           }
  //         }

  //         &:hover {
  //           cursor: pointer;
  //           transition: all .3s ease;
            
  //           box-shadow: 12px 12px 12px rgba(38, 38, 38, .2);
  //           top: -10px;
  //         }
  //       }
  //     }
  //   }
    #item-list-container {

      // padding: 7%;  
    
      // width: 30.75%;
      // width: 100%;
      // overflow: hidden;
      text-align: center;
      max-width: 1600px;
      margin: 0 auto;
      .title-blog {
        margin: 50px 0;
        margin-top: 10px;
        color: #95A4A3;
        font-size: 1.5rem;
        letter-spacing: 3px;
      }
        #item-list-inner {
          // overflow: hidden;
          // display: inline-block;
          // width: 100%;
          width: 610px;
          display: flex;
          overflow: hidden;
          // height: 100%;
          // display: grid;
          // grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
          // grid-gap: 70px;
          text-align: center;
          .blog-item-box {
            transition: all 1s ease-in-out;
            // margin:0 1px;
            // text-align: center;
            
            top: 0;
            min-width: 100%;
            position: relative;
            // display: flex; 
            
            justify-content: center;
            // width: 600px;
            .post {
            // overflow: hidden;
              // min-width: 100%;
              border: 1px solid #d9d9d97a;
              position: relative;
              // max-width: 100%;
            a {
              text-decoration: none;
            }
            .post-img {
              display: block;
              height: 260px;
              
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            
            .post-info {
              background-color: whitesmoke;
              color: black;
              height: 50px;
              padding: 30px;
              font-size: 17px;
              
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              p {
                color: gray;
                font-size: 14px;
              }
            }

            &:hover {
              cursor: pointer;
              transition: all .3s ease;
              box-shadow: 12px 12px 12px rgba(38, 38, 38, .2);
              top: -10px;
            }
          }
        }
        %btn-styles {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 5%;
          height: 5%;
          background: none;
          border: none;
          outline: none;
          font-size: 30px;
          color: rgba(128, 128, 128, 0.486);
          &:hover{
            cursor: pointer;
            // background: rgba(0, 0, 0, 0.11);
            // color: whitesmoke;
            color: orange;
          }
        }
        #goLeft {
          left: 10%;
          @extend %btn-styles;
        }
        #goRight {
          right: 10%;
          @extend %btn-styles;
        }
      }
      .moveDirect {
        width: 200px;
        margin: 30px auto;
        display: flex;
        justify-content: space-evenly;
        .cycle {
          width: 10px;
          height: 10px;
          // background: whitesmoke;
          background: orange;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
          }
        }
        .not-here {
          width: 10px;
          height: 10px;
          background: gray;
          border-radius: 10px;

          &:hover {
            cursor: pointer;
          }
        }
        #goLeft-2 {
          display: none;
          
        }
        #goRight-2 {
          display: none;
          
        }
      }
    }
  }


  @media (max-width: 1023px) {
    .blog {
      #item-list-container {
        #item-list-inner {
            width: 510px;
            display: flex;
            overflow: hidden;
            text-align: center;
            
          #goLeft {
            left: 5%;
          }
          #goRight {
            right: 5%;
          }
        }
        #goLeft-2 {
          display: none;
          
        }
        #goRight-2 {
          display: none;
          
        }
      }
    }
  }    
  
  @media (max-width: 767px) {
    .blog {
      #item-list-container {
        #item-list-inner {
            width: 460px;
            display: flex;
            overflow: hidden;
            text-align: center;
            
          #goLeft {
            display: none;
            left: 5%;
          }
          #goRight {
            display: none;
            right: 5%;
          }
        }
        .moveDirect {
          position: relative;
          width: 200px;
          margin: 30px auto;
          display: flex;
          justify-content: space-evenly;
          .cycle {
            width: 10px;
            height: 10px;
            // background: whitesmoke;
            background: orange;
            border-radius: 10px;
  
            &:hover {
              cursor: pointer;
            }
          }
          .not-here {
            width: 10px;
            height: 10px;
            background: gray;
            border-radius: 10px;
  
            &:hover {
              cursor: pointer;
            }
          }
          #goLeft-2 {
            display: block;
            position: absolute;
            font-size: 1.2rem;
            color: gray;
            top: -50%;
            left: -16%;
            border: none;
            outline: none;
          }
          #goRight-2 {
            display: block;
            position: absolute;
            font-size: 1.2rem;
            color: gray;
            top: -50%;
            right: -16%;
            border: none;
            outline: none;
          }
        }
      }
    }
  }

  @media (max-width: 479px) {
    .blog {
      #item-list-container {
        .title-blog {
          font-size: 1.2rem;
        }
        #item-list-inner {
            width: 340px;
            display: flex;
            overflow: hidden;
            text-align: center;
            
          #goLeft {
            left: 5%;
          }
          #goRight {
            right: 5%;
          }
        }
        #goLeft-2 {
          display: none;
          
        }
        #goRight-2 {
          display: none;
          
        }
      }
    }
  }  