
.project {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  background: #282828;
  color: white;
  
  .project-inner {
    position: relative;
    width: 100%;
    max-width: 1600px;
    padding: 15% 7%;
    
    text-align: center;
    
    .project-box-1 {
      color: #F3CB22;
      margin-bottom: 60px;
      .project-title {
        font-size: 4rem;
        letter-spacing: 4px;
      }
    
      .project-subtitle {
        margin-top: 30px;
        font-size: 1rem;
        letter-spacing: 4px;
      }
    }
    .project-box-2 {
      position: relative;
      width: 100%;
      height: 330px;  
      background: whitesmoke;
      color: black;
      display: flex;
      
      .project-box-2-inner {
        position: absolute;
        top: 12%;
        left: 5%; 
        display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // flex-shrink: 0;
        

        .img-box {
          
          // position: absolute;
          width: 600px;
          top: 10%;
          left: 6%;
          // overflow: hidden;
          overflow: hidden;
          div {
            display: flex;
            // animation: slide-pro 20s linear infinite;
            img {
              max-width: 100%;
              object-fit: cover;
            }
          }
        }
        .contents-box {
          
          // position: absolute;
          width: 50%;
          top: 35%;
          right: -2%;
          .contents {

            strong {
              font-size: 1.5rem;
              letter-spacing: 5px;
            }
            .stacks {
              color: gray;
              font-size: 0.7rem;
              word-spacing: 10px;
            }
            .platform {
              margin-top: 40px;
              span {
                margin-right: 20px;
                a {
                  text-decoration: none;
                  color: #282828;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
        .moveDirect-pro {
          color: whitesmoke;
          position: absolute;
          top: 108%;
          right: 16%;
          // width: 100px;
          width: 13%;
          display: flex;
          justify-content: space-evenly;
          font-size: .8rem;
          
          .here-pro{
            color: #F3CB22;
            &:hover {
              cursor: pointer;
            }
          }
          .not-here-pro{
            color: rgb(92, 89, 89);
            &:hover {
              cursor: pointer;
            }
          }
        }
        %btn-style {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 5%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
          font-size: 30px;
          color: rgba(128, 128, 128, 0.486);
          &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.11);
            color: whitesmoke;
          }
        }
        #left-btn {
          left: 0;
          @extend %btn-style
        }
        #right-btn {
          right: 0;
          @extend %btn-style
        }
      }
    }
  }
}

