
.project {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  background: #282828;
  color: white;
  
  .project-inner {
    position: relative;
    width: 100%;
    max-width: 1600px;
    padding: 15% 7%;
    
    text-align: center;
    
    .project-box-1 {
      color: #F3CB22;
      margin-bottom: 60px;
      .project-title {
        font-size: 4rem;
        letter-spacing: 4px;
      }
    
      .project-subtitle {
        margin-top: 30px;
        font-size: 1rem;
        letter-spacing: 4px;
      }
    }
    .project-box-2 {
      position: relative;
      width: 100%;
      height: 330px;  
      background: whitesmoke;
      color: black;
      display: flex;
      
      .project-box-2-inner {
        position: absolute;
        width: 100%;
        top: 12%;
        left: 5%; 
        display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // flex-shrink: 0;
        

        .img-box {
          
          // position: absolute;
          width: 600px;
          top: 10%;
          left: 6%;
          // overflow: hidden;
          overflow: hidden;
          div {
            display: flex;
            // animation: slide-pro 20s linear infinite;
            img {
              max-width: 100%;
              object-fit: cover;
            }
          }
        }
        .contents-box {
          
          // position: absolute;
          width: 310px;
          margin: 70px 60px;
          
          // top: 35%;
          // right: -2%;
          .contents {

            strong {
              font-size: 1.5rem;
              letter-spacing: 5px;
            }
            .stacks {
              color: gray;
              font-size: 0.7rem;
              word-spacing: 10px;
            }
            .platform {
              margin-top: 40px;
              span {
                margin-right: 20px;
                a {
                  text-decoration: none;
                  color: #282828;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
          
          .moveDirect-pro {
            color: whitesmoke;
            // position: absolute;
            // top: 108%;
            // right: 16%;
            // width: 100px;
            width: 220px;
            // margin-top: 200px;
            display: flex;
            justify-content: space-evenly;
            font-size: .8rem;
            margin: 100px auto;
            
            
            .here-pro{
              color: #F3CB22;
              &:hover {
                cursor: pointer;
              }
            }
            .not-here-pro{
              color: rgb(92, 89, 89);
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        %btn-style {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 5%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
          font-size: 30px;
          color: rgba(128, 128, 128, 0.486);
          &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.11);
            color: whitesmoke;
          }
        }
        #left-btn {
          left: 0;
          @extend %btn-style
        }
        #right-btn {
          right: 0;
          @extend %btn-style
        }

        .moveDirect-pro-2 {
          display: none;
        }
        
      }
    }
  }
}

@media (max-width: 1243px) {
  .contents-box {
    margin: 70px 0px !important;
  }
}

@media (max-width: 1130px) {
  
    .project-box-2 {
      position: relative;
      width: 100%;
      height: 80% !important;  
      background: whitesmoke;
      color: black;
      
      
      
      .project-box-2-inner {
        position: relative !important;
        width: 100%;
        top: 0% !important;
        left: 0% !important; 
        display: block !important;
        padding: 80px;
        // margin: 0 auto;
        // flex-direction: row;
        // flex-wrap: wrap;
        // flex-shrink: 0;
        

        .img-box {
          
          position: relative;
          // margin: 0 auto !important;
          width: 100% !important;
          min-width: 600px !important;
          top: 0% !important;
          left: 0% !important;
          // overflow: hidden;
          overflow: hidden;
          div {
            display: flex;
            // animation: slide-pro 20s linear infinite;
            img {
              max-width: 100%;
              object-fit: cover;
            }
          }

          .moveDirect-pro-2 {
            display: flex !important;
            color: whitesmoke;
            position: absolute;
            top: 97% !important;
            right: 3%;
            // width: 100px;
            width: 120px !important;
            // margin-top: 200px;
            display: flex;
            justify-content: space-evenly;
            font-size: .8rem;
            margin: unset !important;
            
            
            .here-pro{
              color: #F3CB22;
              &:hover {
                cursor: pointer;
              }
            }
            .not-here-pro{
              color: rgb(92, 89, 89);
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .contents-box {
          
          position: unset;
          width: 310px;
          margin: 50px auto !important;
          
          // top: 35%;
          // right: -2%;
          .contents {

            strong {
              font-size: 1.5rem;
              letter-spacing: 5px;
            }
            .stacks {
              color: gray;
              font-size: 0.7rem;
              word-spacing: 10px;
            }
            .platform {
              margin-top: 40px;
              span {
                margin-right: 20px;
                a {
                  text-decoration: none;
                  color: #282828;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }


          }
          
          .moveDirect-pro {
            display: none !important;
          }
        }
      }
    }
}

@media (max-width: 767px) {
  .project-box-2-inner {
    padding: 0px !important;
  }
}