.Stack {
  width: 100%;
  height: 100vh;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  .stack_container {
    width: 100%;
    height: 100%;
    .stack_inner {

      .stack_title {
        
      }
    }
  }
}